In [1]:
import pandas as pd
import json
import random

In [2]:
price_history = pd.read_json('price_collection.json')
price_history.columns = ['Date', 'Ticker', 'Volume', 'Open', 'Low', 'High', 'Close']
price_history.sort_values('Date', ascending=True, inplace=True)

with open('lotsize.json', "r") as read_file:
    lotsize = json.load(read_file)
    read_file.close()

In [13]:
MOEXBC = ['ALRS', 'GAZP', 'GMKN', 'LKOH', 'MGNT', 'MTSS', 'NVTK', 'PHOR', 'PLZL', 'ROSN', 'SBER', 'SNGS', 'TATN', 'TCSG', 'YNDX']
MCXSM = ['AFKS', 'AFLT', 'AQUA','AGRO', 'APTK', 'BELU', 'CIAN', 'ELFV', 'ETLN', 'FEES', 'FESH', 'FLOT', 'GEMC', 'GLTR', 'LENT', 'LSRG', 'MDMG', 'MRKC', 'MRKP', 'MSNG', 'MSRS', 'MTLR', 'MTLRP', 'MVID', 'OGKB', 'POLY', 'POSI', 'RASP', 'RNFT', 'RTKM', 'RTKMP', 'SELG', 'SFTL', 'SGZH', 'SMLT', 'TGKA', 'UPRO', 'VKCO']
#MCXSM1 = ['AFKS', 'AFLT', 'AQUA','AGRO', 'CIAN', 'DSKY', 'ENRU', 'ETLN', 'FEES', 'FESH', 'FLOT', 'GEMC', 'GLTR', 'LENT', 'LSRG', 'MDMG', 'MRKC', 'MRKP', 'MSNG', 'MSRS', 'MTLR', 'MTLRP', 'MVID', 'OGKB', 'POLY', 'POSI', 'RASP', 'RNFT', 'RTKM', 'RTKMP', 'SELG', 'SFTL', 'SGZH', 'SMLT', 'TGKA', 'UPRO', 'VKCO']

In [14]:
#FOMO increase
short_list = price_history[price_history['Date'] >= '2023-03-17']
depo = 179728.94 #100000
tax = 0.0005
for selected_date in short_list.Date.unique():
    day_max = 0
    day_indx = None
    for selected_ticker in short_list.Ticker.unique():
        if selected_ticker in MCXSM: # MCXSM MOEXBC
            check_len = short_list[(short_list['Ticker'] == selected_ticker) & (short_list['Date'] == selected_date)]
            if len(check_len) > 0:
                indx = check_len.index[0]
                day_res = short_list.at[indx, 'Close'] /short_list.at[indx, 'Open']
                lot = lotsize.get(short_list.at[indx, 'Ticker'])
                deal_count =((1-tax)*depo)/(short_list.at[indx, 'Open']*lot)
                deal_count =int(deal_count) * lot
                day_res =  round((short_list.at[indx, 'Close'] - short_list.at[indx, 'Open']) * deal_count,2)
                if (day_res > day_max):# and (short_list.at[indx, 'Volume']>10000000):
                    day_max = day_res
                    day_indx = indx
    if day_indx != None:
        lot = lotsize.get(short_list.at[day_indx, 'Ticker'])
        deal_count =((1-tax)*depo)/(short_list.at[day_indx, 'Open']*lot)
        deal_count =int(deal_count) * lot
        profit =  round((short_list.at[day_indx, 'Close'] - short_list.at[day_indx, 'Open']) * deal_count,2)
        res_deal =  round((short_list.at[day_indx, 'Close'] / short_list.at[day_indx, 'Open']) - 0.001,3)
        comission = round((short_list.at[day_indx, 'Close'] + short_list.at[day_indx, 'Open']) * deal_count * tax,2)
        depo = round(depo + profit - comission,2)
        print (short_list.at[day_indx, 'Date'], short_list.at[day_indx, 'Ticker'], deal_count, depo, res_deal)

2023-03-17 GLTR 467 183703.79 1.022
2023-03-20 FLOT 3150 191863.57 1.044
2023-03-21 MSNG 85000 199532.08 1.04
2023-03-22 GEMC 557 210189.02 1.054
2023-03-23 GEMC 552 230889.6 1.099
2023-03-24 ETLN 4000 240733.84 1.043
2023-03-27 AFLT 8060 265386.36 1.103
2023-03-28 MTLR 1848 279103.5 1.052
2023-03-29 MDMG 558 297229.46 1.065
2023-03-30 RNFT 2837 355628.96 1.197
2023-03-31 RNFT 2812 376634.04 1.059

In [18]:
short_list[(short_list['Ticker'] == 'ELFV')]

              Date Ticker    Volume    Open     Low    High   Close
149706  2023-03-29   ELFV  46962000  0.5844  0.5746  0.5844  0.5780
149951  2023-03-30   ELFV  42819000  0.5818  0.5644  0.5818  0.5786
150196  2023-03-31   ELFV  40085000  0.5758  0.5680  0.5802  0.5728